body,
html {
    margin: 0;
    height: 100vh;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
}

.loginBackgroung {
    background-image: url('./assets/ny1.jpg');
    min-height: 100vh;
    height: auto;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
}

.registerBackgroung {
  background-image: url('./assets/ny1.jpg');
  min-height: 100vh;
  height: auto;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
}

