body,
html {
    margin: 0;
    height: 100vh;
    background-repeat: no-repeat; /* Dezactivează repetarea imaginii */
    background-size: cover; /* Redimensionează imaginea pentru a acoperi întreaga pagină */
    background-position: center; /* Centrează imaginea pe pagină */
}

.test {
    background-image: url('./assets/ny1.jpg');
    min-height: 100vh;
    height: auto;
    background-repeat: no-repeat; /* Dezactivează repetarea imaginii */
  background-size: cover; /* Redimensionează imaginea pentru a acoperi întreaga pagină */
  background-position: center; /* Centrează imaginea pe pagină */
}

